<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        {{#if @custom.white_logo_for_dark_mode}}
            <img class="logo-image white" src="https://res.cloudinary.com/dragid10/image/upload/v1638420071/alexo/images/alex-logo-white.png" alt="{{@site.title}}">
        {{/if}}
        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <span class="logo-text">{{@site.title}}</span>
    {{/if}}
</a>